WTForms==3.1.2
websocket-client==1.8.0
Werkzeug==3.0.2
Flask==3.0.3
Flask-Login==0.6.3
Flask-MySQLdb==2.0.0
Flask-SocketIO==5.3.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
mysql-connector-python
Flask-Principal
paypalrestsdk
Flask-Caching==2.3.0
redis
rq
kafka-python
elasticsearch==7.11.0